$orange: #ffaf00;
$hoverOrange: #ffbe00;

$black: #000;
$graphite: #585858;
$metal: #939393;
$silver: #dadada;
$platinum: #f4f4f4;
$white: #fff;

$blue: #3b5998;
$red: #d34836;
$green: #05b900;
$turquoise: #00c8c8;
